.card-list::-webkit-scrollbar{
    display: none;

}
@media (max-width: 800px) {
    .titlecard{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .titlecard h2{
        font-size: 15px;
    }
    .card-list img{
        width: 200px;
    }
    .card-list p{
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    
    .titlecard h2{
        font: size 15px; 
    }
    .card-list img{
        width: 150px;
    }
    .card-list p{
        font-size: 10px;
    }
}